

.hot{
     background-color: rgb(74, 131, 255);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imagem{
    position: absolute;
    height: 50px;
    top: 10px;
    left: 30px;
}
body{
    margin: 0%;
}