
.hot {
    background-color: rgb(74, 131, 255);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imagem{
    position: absolute;
    height: 50px;
    top: 10px;
    left: 30px;
}
body{
    margin: 0%;
}

.flex{
    display: flex;
}

.center {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.opcao{
    background-color: rgb(163, 186, 250);
    justify-content: center;
    align-items: center;
    left: 400px;
    right: 400px;
    border: 100px;
    margin-left: 500px;
    margin-right: 500px;
    height: 60px;
    width: 800px;
}



